<<<<<<< HEAD
@import "tailwindcss";
=======
@import "tailwindcss";

@layer components{
    .card {
        box-shadow: 3px 3px 5px #DDD;
        width: 300px;
        height: 300px;
        padding: 10px;
    }
}
>>>>>>> f54ec1ae450a361cc697032f4d99bb06f9b9a1c9
